<!DOCTYPE html>
<html>
   <head>

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>{{title}}</title>

      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="../asset/style.css">

   </head>
   <body id="top">

      <div class="outline">

         <dl>
            <dt>Filename</dt>
            <dd>{{filename}}</dd>
            <dt>Generated</dt>
            <dd>{{'now'|date('Y-m-d H:i:s')}}</dd>
         </dl>

         <hr>

         {{content|raw}}

      </div>

   </body>
</html>

